html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

body {
  margin: 0 auto;
  display: block;
  text-align: center; }

.container {
  width: 960px;
  padding: 10px;
  margin: 50px auto;
  position: relative; }

.firstpage {
  height: 900px;
  width: 900px;
  background: url("../images/background.png");
  background-repeat: no-repeat;
  text-align: center;
  display: inline-block;
  position: relative;
  margin-bottom: 50px;
  margin-bottom: 150px; }

.intro1, .intro2 {
  width: 900px;
  background-image: url("../images/typebackground.jpg");
  background-repeat: no-repeat;
  /* border-radius: 5px; */
  border-style: solid;
  border-width: 1px;
  border-color: black;
  position: relative;
  display: block;
  text-align: center;
  /* margin-left: 100px; */
  margin-top: 150px;
  font-family: 'Frijole', cursive;
  font-size: 40px;
  padding: 15px; }

.letspickem {
  height: 290px;
  width: 207px;
  margin-top: 150px;
  background-image: url("../images/letspickem.png");
  background-repeat: no-repeat;
  display: inline-block;
  position: relative;
  /*   left: 350px;
  top: 400px; */ }

.secondpage {
  height: 900px;
  width: 900px;
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  display: inline-block;
  position: relative;
  margin-bottom: 150px;
  clear: both; }

.columnleft {
  height: 400px;
  width: 156px;
  display: block;
  vertical-align: top;
  text-align: center;
  float: left;
  margin-left: 225px;
  margin-top: 100px; }

.beardillustration {
  background-image: url("../images/beard.png");
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
  height: 313px;
  width: 156px; }

.beardbutton {
  height: 50px;
  weight: 156px;
  position: relative;
  display: block;
  background-image: url("../images/bearded_button.png");
  background-repeat: no-repeat; }

.columnright {
  height: 400px;
  width: 156px;
  display: block;
  vertical-align: top;
  float: left;
  margin-left: 150px;
  text-align: center;
  margin-top: 100px; }

.shavedillustration {
  background-image: url("../images/shaved.png");
  background-repeat: no-repeat;
  display: inline-block;
  position: relative;
  display: inline-block;
  height: 313px;
  width: 130px; }

.shavedbutton {
  height: 50px;
  weight: 130px;
  position: relative;
  display: block;
  background-image: url("../images/shaved_button.png");
  background-repeat: no-repeat; }

.thirdpage, .fourthpage {
  height: 900px;
  width: 900px;
  background-image: url("../images/background.png");
  /* background-repeat: no-repeat; */
  position: relative;
  display: inline-block;
  text-align: center;
  margin-bottom: 150px; }

.choicebox1 {
  height: 500px;
  width: 700px;
  margin-top: 100px;
  position: relative;
  display: inline-block;
  /*   left: 100px;
  top: 200px; */
  /*   background-color: white; */ }

.choicebox2 {
  height: 500px;
  width: 700px;
  margin-top: 100px;
  position: relative;
  display: inline-block;
  /*   left: 100px;
  top: 200px; */
  /*   background-color: white; */ }

.playagain {
  height: 53px;
  width: 207px;
  background-image: url("../images/letspickem.png");
  background-repeat: no-repeat;
  display: inline-block;
  position: relative;
  /*   left: 350px;
  top: 400px; */ }

/*# sourceMappingURL=main.css.map */
